{% extends 'h_owner_home.html' %}

{% block content %}
<style>
    hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

</style>


<br>
<hr class="style-eight">
<br>

    <div style="text-align: center; margin-left: 25%;">
        <table style="border: 1; width: 75%;">
            <tr style="background-color: white; text-align: center;">
                <th>Door No.</th>
                <th>Location</th>                
                <th>City</th>
                <th>Type</th>
                <th>#Bedrooms</th>
                <th>Area(sq.mts)</th> 
                <th>Monthly Rent(Rs.)</th>          
            </tr>            
            
            {% for house in houses %}
            
                <tr style="background-color: lightblue; text-align: center;">
                    <td>{{house.doorno}}</td>
                    <td>{{house.location}}</td>
                    <td>{{house.city}}</td>
                    <td>{{house.type}}</td>
                    <td>{{house.bed_rooms}}</td>               
                    <!--
                    <td><img src=/{{house.image1.url}} alt="XXX"></td>
                    <td><img src=/{{house.image2.url}}  width=80 height=80 alt="XXX"></td>
                    <td><img src=/{{house.image3.url}}  width=80 height=80 alt="XXX"></td>
                    -->
                    <td>{{house.area}}</td>
                    <td>{{house.rent}}</td>
                    <form method="POST" action="/houses/destroy/" onsubmit="return confirm('Are you sure to delete the record?');">
                        {% csrf_token %}
                        <input type="hidden" name="doorno" value="{{house.doorno}}">
                        <td><input type="submit" value="Delete"></td>
                    </form>
                    <form method="POST" action="/houses/update/">
                        {% csrf_token %}
                        <input type="hidden" name="doorno" value="{{house.doorno}}">
                        <td><input type="submit" value="Update"></td>
                    </form>
                    <!--
                    <td><a href="#">Delete</a></td>
                    <td><a href="#">Update</a></td>
                    -->
                </tr>            
            
                {% empty %}
                <h3 style="text-align: center;"><u>No Records Found...!!!</u></h3>
              
            {% endfor %}
            
        </table>            
    </div>
    <br>    
<hr class="style-eight">

{% endblock %}