
<head>
    <title>Rental World</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/static/css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/framework.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all">
    
</head>

<div class="bgded overlay light" style="background-image:url('/static/images/About-Us-bg.jpg');"> 
    <div class="wrapper row">
     <header id="header" class="hoc clear"> 
       <div id="logo" class="fl_left">
         <h1><a href="/">Rental World</a></h1>
       </div>
       <nav id="mainav" class="fl_right">
         <ul class="clear">
           <li><a href="/">Home</a></li>
           <li><a class="drop" href="#">Services</a>
             <ul>
               <li><a href="/houses/">Houses</a></li>
               <li><a href="/vehicles/">Vehicles</a></li>
             </ul>
           </li>
           <li><a href="/gallery/">Gallery</a></li>
           <li class="active"><a href=".">About</a></li>
           <li><a href="/contact/">Contact</a></li>
         </ul>
       </nav>
     </header>

      <br><br><br>
      <div style="margin-top: 80px; margin-left: 180px; ">
          <h1 style="font-size: 450%;">
              <strong>ABOUT<br><br>US</strong>
          </h1><br>
      </div>
      <br><br><br><br><br><br><br>
   </div>
</div>


<br>
<div style="font-family:'Arial'; text-align: center">
    <p style="margin-bottom: 0px;">|<br>|<br><p style="color: orangered; margin-top: 0px;">O</p></p> 
</div>
<br><br>


<h3 style="text-align: center; font-family: 'Arial Black', sans-serif;"><strong>WELCOME TO RENTAL WORLD</strong></h3>

    <div style="padding-left: 23%; padding-right: 23%; margin-top: 0px; text-align: center;">
        We are the fastest growing company in the online rental space. Born out of the need to simplify <br>the search for
        a home or a vehicle, free of fake listings and endless site visits, we created <br>a unique property search platform 
        that filled the gaps left by others in the market.<br>Led by passionate problem-solvers, and backed by top investors 
        from around the country, we <br>are poised to become the most trusted place to find a home or a vehicle in India.
    </div>

<br><br><br>
<h3 style="text-align: center; font-family: 'Arial Black', sans-serif;"><strong>Our Vision</strong></h3>
<div style="padding-left: 23%; padding-right: 23%; margin-top: 0px; text-align: center;">
        Delivering trustworthy experiences that you cherish for a lifetime.
</div>
<br><br><br>
<h3 style="text-align: center; font-family: 'Arial Black', sans-serif;"><strong>Our Mission </strong></h3>
<div style="padding-left: 23%; padding-right: 23%; margin-top: 0px; text-align: center;">
        To be the first choice for our consumers and partners in their journey of discovering and renting<br> 
        a home or a vehicle. We do that with data, design, technology, and above all the passion of <br>our people, 
        while delivering value to our shareholders.
</div>
<br><br><br><br>

<img src="/static/images/i01_happyfamily.jpg" style="border-radius: 50%; margin-left: 55px;">
<img src="/static/images/i01_happyfamily2.jpg" style="border-radius: 50%;">
<br><br><br>
<div style="margin-left: 155px; margin-right: 100px;">
  <h2><strong><i>Your safety is our priority</i></strong></h2>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Having as our first and foremost priority the health and safety of our customers and employees, we have changed our 
    customer service procedures and have enhanced the cleaning and disinfection protocols we follow, while we continue 
    to work closely with the competent authorities to remain up to date regarding all the hygiene related issues.
  </p>
  <br>
  <style>
    td{
      padding-top: 10px;
      padding-bottom: 5px;
    }
  </style>
  <table style="text-align: center;">
      <tr>
        <th colspan="4" style="text-align: center;"><strong>Protection, Cleaning and Disinfection Measures</strong></th>
      </tr>
    
      <tr>
        <td data-title="Protection, Cleaning and Disinfection Measures"><img src="/static/images/t1.jpg" alt="" data-udi="umb://media/4db8280136ec48618361ebefb44d2a2d"></td>
        <td>
          <p>After each rental, the property is thoroughly cleaned, with approved disinfectants.</p>
        </td>
        <td><img src="/static/images/t2.jpg" alt="" data-udi="umb://media/eb245acd0026495fb2db6ca18f3bcb9b"></td>
        <td>We have installed protective partitions at our service points, while with each rental we offer free antibacterial wipes and gel. At the same time, we take care of the disinfection of our stations and other service points.</td>
      </tr>
      <tr>
        <td data-title="Protection, Cleaning and Disinfection Measures"><img src="/static/images/t3.jpg" alt="" data-udi="umb://media/c1eb3db269724a73845080c50a1ca07b"></td>
        <td>The company's staff is informed about the latest hygiene rules for their own and our customers' protection. We also supply our staff with all the necessary personal protective equipment (masks, gloves, antiseptics).</td>
        <td><img src="/static/images/t4.jpg" alt="" data-udi="umb://media/c97f897215c34b919ec94e9c2265f485"></td>
        <td>In case you have made a reservation either by phone or through hertz.gr or through one of our partners, we suggest you use the Online Check-in for faster service upon the pick-up of the car.</td>
      </tr>
  </table>
  
</div>
<br>


<style>

  .clear {display: block;}
  
   
  

  .faico li{margin:0 1px;}
  .faico li a{width:30px; height:30px; line-height:30px; font-size:12px;}

  .faico{margin:0; padding:0; list-style:none;}
  .faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
  .faico li:last-child{margin-right:0;}
  .faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

  .faico a{color:#FFFFFF; background-color:#000000;}

  .faicon-dribble:hover{background-color:#EA4C89;}
  .faicon-facebook:hover{background-color:#3B5998;}
  .faicon-google-plus:hover{background-color:#DB4A39;}
  .faicon-linkedin:hover{background-color:#0E76A8;}
  .faicon-twitter:hover{background-color:#00ACEE;}
  .faicon-vk:hover{background-color:#4E658E;}
</style>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.backtotop.js"></script>
<script src="/static/js/jquery.mobilemenu.js"></script>

<div class="wrapper row2 bgded overlay" style="background-image:url('/static/images/teambg.jpg');">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading" style="text-align: center; color: rgb(255, 255, 255);"><strong>Submitted by</strong></h6>
    </div>
    <div class="group team">
      <figure class="one_third"><img src="/static/images/propic.png"  alt="">
        <figcaption style="width: 320px;">
          <br>
          <h6 class="heading" style="text-align: center; color: rgb(255, 255, 255);">Sannapureddy Umamaheswar Reddy</h6>
          <footer>
            <ul class="faico clear" style="text-align: center;">
              <li><a class="faicon-twitter" href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter" style="padding-top: 7px;"></i></a></li>
              <li><a class="faicon-linkedin" href="https://www.linkedin.com/in" target="_blank"><i class="fa fa-linkedin" style="padding-top: 7px;"></i></a></li>
              <li><a class="faicon-google" href="https://mahesh2804.github.io" target="_blank"><i class="fa fa-github" style="padding-top: 7px;"></i></a></li>
            </ul>
          </footer>
        </figcaption>
      </figure>
    </div>
  </section>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved </p>
    <p class="fl_right">RENTAL WORLD</p>  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
