

<html lang="en">
<head>
<title>Rental World</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/framework.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">
 
<!-- Top Background Image Wrapper -->

<div class="bgded overlay light" style="background-image:url('/static/images/houserentalmahi.jpg');"> 
   <div class="wrapper row">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1><a href="/">Rental World</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          
          <li><a class="drop" href="#">Services</a>
            <ul>
              <li><a href="houses/">Houses</a></li>
              
            </ul>
          </li>
          <li><a href="gallery/">Gallery</a></li>
          <li><a href="about/">About</a></li>
          <li><a href="contact/">Contact</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div id="pageintro" class="hoc clear"> 
    <article style="text-align: center; ">
      <h3 class="heading">WELCOME TO RENTAL WORLD ... !!!</h3>
      <p style="font-size:larger;">Choose a service</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="houses/">Houses</a></li>
        </ul>
      </footer>
    </article>
  </div>
</div>
<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <div class="sectiontitle" style="text-align: center;">
      <h6 class="heading"> <strong>Why us.</strong></h6>
      <p>|<br>|<br><p style="color: orangered; margin-top: 0;">O</p></p>
    </div>
    <article class="group">
      <div class="one_half first">
        <br><br><br><br>
        <h6 class="heading">Health and Safety is a priority</h6>
        <p class="btmspace-30">We, the <strong>RENTAL WORLD</strong> team are committed to enhanced COVID-19 cleaning protocols, and listings are rated for cleanliness&hellip;</p>
        <footer><a class="btn" href="about/">About &raquo;</a></footer>
      </div>
      <div class="one_half"><img src="/static/images/i01_hsa.jpg" alt=""></div>
    </article>
    <br>
    <article class="group">
        <div class="one_half first">
          <br><br><br>
          <h6 class="heading">Flexible Booking and Cancellation options</h6>
          
          <p class="btmspace-30">We offer a range of flexible booking and cancellation options which are clearly stated at the time of booking and we can assure our customers that we provide safe and secure transactions&hellip;</p>
          <footer><a class="btn" href="about/">About &raquo;</a></footer>
        </div>
        <div class="one_half"><img src="/static/images/i01_BandC.jpg" alt=""></div>
      </article>
      <br>
      <article class="group">
        <div class="one_half first">
          <br><br><br><br>
          <h6 class="heading">Support Anytime</h6>
          <p class="btmspace-30">With 24/7 customer support, we are there for you whenever you need assistance&hellip;</p>
          <footer><a class="btn" href="contact/">Contact &raquo;</a></footer>
        </div>
        <div class="one_half"><img src="/static/images/i01_support-24-7.jpg" alt=""></div>
      </article>
      <br>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<style>

  .clear {display: block;}
  
   
  

  .faico li{margin:0 1px;}
  .faico li a{width:30px; height:30px; line-height:30px; font-size:12px;}

  .faico{margin:0; padding:0; list-style:none;}
  .faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
  .faico li:last-child{margin-right:0;}
  .faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

  .faico a{color:#FFFFFF; background-color:#000000;}

  .faicon-dribble:hover{background-color:#EA4C89;}
  .faicon-facebook:hover{background-color:#3B5998;}
  .faicon-google-plus:hover{background-color:#DB4A39;}
  .faicon-linkedin:hover{background-color:#0E76A8;}
  .faicon-twitter:hover{background-color:#00ACEE;}
  .faicon-vk:hover{background-color:#4E658E;}
</style>

<div class="wrapper row2 bgded overlay" style="background-image:url('/static/images/teambg.jpg');">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading" style="text-align: center; color: rgb(255, 255, 255);"><strong>Submitted by</strong></h6>
    </div>
    <div class="group team">
      <figure class="one_third"><img src="/static/images/propic.png"  alt="">
        <figcaption style="width: 320px;">
          <br>
          <h6 class="heading" style="text-align: center; color: rgb(255, 255, 255);">Sannapureddy Umamaheswar Reddy</h6>
          <footer>
            <ul class="faico clear" style="text-align: center;">
              <li><a class="faicon-twitter" href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter" style="padding-top: 7px;"></i></a></li>
              <li><a class="faicon-linkedin" href="https://www.linkedin.com/in" target="_blank"><i class="fa fa-linkedin" style="padding-top: 7px;"></i></a></li>
              <li><a class="faicon-google" href="https://mahesh2804.github.io" target="_blank"><i class="fa fa-github" style="padding-top: 7px;"></i></a></li>
            </ul>
          </footer>
        </figcaption>
      </figure>
    </div>
  </section>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved </p>
    <p class="fl_right">RENTAL WORLD</p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

<!-- JAVASCRIPTS -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.backtotop.js"></script>
<script src="/static/js/jquery.mobilemenu.js"></script>
</body>
</html>

